parameters:
    level: 8
    paths:
        - src/
    excludes_analyse:

    bootstrapFiles:
        - tests/bootstrap.php

    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false

    ignoreErrors:
