parameters:
    level: 8
    paths:
        - src/
    excludes_analyse:

    bootstrapFiles:
        - tests/bootstrap.php

    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Property SprykerSdk\\Zed\\ComposerConstrainer\\Business\\SprykerReflector\\SprykerClassReflector::\$reflectionClass with generic class ReflectionClass does not specify its types: T#'
        - '#Parameter \#1 \$[a-zA-Z]* of class ReflectionClass constructor expects class-string<T of object>\|T of object, string given.#'
